@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'RozhaOne';
	src: url('/fonts/RozhaOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Questrial';
	src: url('/fonts/Questrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	color: #c3c3c3;
	background-color: #1c1c1c;
	font-family: 'Questrial', sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'RozhaOne', serif;
	font-weight: 700;
	color: #c3c3c3;
}

.isMobile {
	display: block;
}

.title {
	display: none;
}

@media (max-width: 768px) {
	.isMobile {
		display: none;
	}

	.title {
		display: block;
	}
}