.container {
    position: relative;
    height: 300vh;
    background-color: #1c1c1c;


}

.stickyMask {
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    mask-image: url('/media/mask.svg');
    mask-position: 52% center;
    mask-repeat: no-repeat;
    mask-size: 80%;
}

.stickyMask video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .stickyMask {
        mask-size: 100%;
    }
}