.sidebar {
    position: relative;
    top: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: rgba(20, 20, 20, 0.9);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;

    @media (max-width: 768px) {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: none;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }
}

.button {
    background: none;
    color: #c3c3c3;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    transition: 0.3s;
}

.button:hover {
    background: none;
    color: #ffffff;
    text-decoration: underline;
}

.button.active {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 200px;
        display: flex;
        flex-direction: column;
    }
}